* {
    margin: 0;
    padding: 0%;
}

.main {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/university2.jpg);
    background-position: center;
    background-size: cover;



}

.header {
    height: 20%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    margin: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.header img {
    height: 80px;
    width: 150px;
    margin-right: 50%;
    background-position: center;
    background-size: cover;

}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: blue;
    transition: 0.5s;
}



.content h1 {
    margin-top: 10%;

    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content p {
    margin: 10px 0 40px;
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.row {
    width: 100%;
    height: 150%;

    display: flex;

    margin-bottom: 5%;




}




.blog-left {
    width: 50%;
    height: 80%;
    margin-top: 3%;


}

.blog-left h2 {
    text-align: center;
    margin-top: 5%;
    font-size: xx-large;
}


.blog-left p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.blog-left img {
    width: 70%;
    margin-top: 7%;
    margin-left: 20%;
    border-radius: 10px;

}

.blog-right {
    width: 50%;

    margin-top: 3%;

}

.blog-right h2 {
    text-align: center;
    margin-top: 5%;

    font-size: xx-large;


}

.blog-right p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.blog-right img {
    width: 70%;
    margin-top: 7%;
    margin-left: 20%;
    border-radius: 10px;
    height: 70%;
}

.page2 {
    height: 50%;
    width: 100%;
    display: flex;
    margin-bottom: 8%;



}

.content2 {
    height: 70%;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 10%;

}

.content2 p {
    margin-top: 2%;
    font-size: larger;

}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 400;
    margin-top: 2%;
}

.btn p {
    margin-top: 7%;
    color: red;
    border: 2px solid rgb(156, 5, 5);
    padding: 15px 0 15px;
    text-align: center;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    text-decoration: none;
    font-size: medium;
}

.btn p:hover {

    color: white;
    text-decoration: none;

}



.image img {
    width: 50%;
    margin-left: 30%;

    border-radius: 10px;
}

.lastcontent {
    width: 100%;
    margin-top: 12%;

    display: flex;

}

.lastcontent-para {
    width: 30%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: larger;
    margin-left: 9%;
}

.lastcontent-image {
    width: 30%;

    margin-left: 20%;

}

.lastcontent-image img {
    width: 95%;
    border-radius: 10px;
}

.footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    background-color: rgb(213, 248, 248);

    border-radius: 20px;
}

footer h4 {
    margin-bottom: 2%;
    font-size: larger;
}

footer p {
    font-weight: 600;
}

footer h4:hover {
    color: blue;
}